{% extends 'base.html.twig' %}
 
{% block title %}Nuevo Proveedor{% endblock %}
 
{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Crear Proveedor</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('proveedor_index') }}"> 
                    Ver Proveedores
                </a>
            </div>
            <div class="card-body">
                 {{ include('proveedor/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}